/* Fonts */
@font-face {
    font-family: 'Lobster'; /*a name to be used later*/
    src: url('../font/Lobster_1.4.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto/Roboto-Medium.ttf');
}


:root{
  --dc-: #28a745; /* #28a745 */
  --rgba-dc-: rgba(40, 167, 69, 0.5);
  --rgba-wh-: rgba(255, 255, 255, 0.5);
  --gr-: #515151;
  --wh-: #fefefe;
  --sg-: #f7f7f7;
  --lg-: #b9b9b9;
  --gy-: #f7f7f7;
  --shadow1-: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  --shadow2-: 0 0 8px rgba(0,0,0,0.6);
  --shadow3-: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  --text-sh-: 2px 5px 2px rgba(33,33,33,0.25);
  --card-: perspective(1000px) rotateY(-20deg) translateX(-20px);
}

/* Utilities */
.align-sub{
  vertical-align: sub;
}

.mouse_default{
  cursor: default;
}

html,body{
  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 300;
  color: var(--gr-);
}

body{
  background: white;
  /* background: url('../img/img_05.jpeg') no-repeat 50% 50%; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
}

.navbar-brand{
  color: var(--gr-) !important;
  font-weight: normal;
}

a{
  color: var(--gr-);
}

a:hover{
  color: var(--dc-);
  text-decoration: none;
}

.fieldInfo{
  font-size: 1.2em;
}

.fieldInfo_2{
  font-size: 0.8em;
}

.bg-grayish{
  background: var(--gy-);
}

.img-profile{
  height: 45px;
  object-fit: contain;
}

.lift{
  margin-top: 3em;
}

/* Custom width settings */
.w_005{width: 5vw;}
.w_010{width: 10vw;}
.w_015{width: 15vw;}
.w_020{width: 20vw;}
.w_025{width: 25vw;}
.w_030{width: 30vw;}
.w_035{width: 35vw;}
.w_040{width: 40vw;}
.w_045{width: 45vw;}
.w_050{width: 50vw;}
.w_055{width: 55vw;}
.w_060{width: 60vw;}
.w_065{width: 65vw;}
.w_070{width: 70vw;}
.w_075{width: 75vw;}
.w_080{width: 80vw;}
.w_085{width: 85vw;}
.w_090{width: 90vw;}
.w_095{width: 95vw;}
.w_100{width: 100vw;}

/* Tooltip posts settings */
.img_tooltip_posts{
  height: 0px; /* size fixer */
}
.img_tooltip_posts p{
  cursor: pointer;
  width: fit-content;
}
.img_tooltip_posts p:hover{
  color: var(--dc-);
}
.img_tooltip_posts .content{
  position: relative;
  bottom: 160px;
  left: 25px;
  box-sizing: border-box;
  border-radius: 0.2em;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  transform: translateX(-50%) translateY(-50px);
}
.img_tooltip_posts .content img{
  border-radius: 0.2em;
  border: 1px solid var(--dc-);
  background-size: cover;
  width: 10em;
  height: 100%;
}
.img_tooltip_posts .content:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--dc-);
  bottom: -5px;
  left: 75px;
  transform: rotate(45deg);
  z-index: -1;
}
.img_tooltip_posts:hover .content{
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
  box-shadow: var(--shadow1-);
}

/* Tooltip admins settings */
.img_tooltip_admins{
  height: 0px; /* size fixer */
  width: fit-content;
}
.img_tooltip_admins p{
  cursor: pointer;
  width: fit-content;
}
.img_tooltip_admins .content{
  position: relative;
  bottom: 215px;
  left: 25px;
  box-sizing: border-box;
  border-radius: 0.2em;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  transform: translateX(-50%) translateY(-50px);
}
.img_tooltip_admins .content img{
  border-radius: 0.2em;
  border: 1px solid var(--dc-);
  background-size: cover;
  width: 10em;
  height: 100%;
}
.img_tooltip_admins .content:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--dc-);
  bottom: -5px;
  left: 75px;
  transform: rotate(45deg);
  z-index: -1;
}
.img_tooltip_admins:hover .content{
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
  box-shadow: var(--shadow1-);
}


/* The Modal (background) */
._modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 8em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(21,21,21,0.8); /* Black w/ opacity */
  z-index: 100;
}


/* The Modal button */
#_myBtn{
  cursor: pointer;
}

/* Modal Content */
._modal-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 100vh;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  background: transparent;
  background-size: cover;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes animatetop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
._close {
  color: var(--dc-);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: -1.5em -1.25em;
}

._close:hover,
._close:focus {
  color: var(--gr-);
  text-decoration: none;
  cursor: pointer;
}

._modal-body{
  margin: 0 auto;
  color: var(--gr-);
  padding: 0;
}

/* iFrame settings */
.posts_iframe{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding:;
}































/* End */
